package template

import (
	"github.com/tyler/recipebox/internal/application/dto"
)

templ Home(recipes []dto.RecipeResult, userEmail string) {
	@Layout("Home", userEmail) {
		<div class="col-center-8" data-signals:search="">
			<div class="card-flat">
				<h2 class="title title-md">Search Recipes</h2>
				<div class="form-group">
					<input
						class="form-input form-input-lg"
						type="text"
						placeholder="Search by name, ingredient, cuisine..."
						data-bind:search
						data-on:keyup__debounce.300ms="@get('/search/results')"
					/>
				</div>
				<div id="search-results"></div>
			</div>
		</div>
		<div class="mt-5">
			<h2 class="title title-md">Recent Recipes</h2>
			if len(recipes) == 0 {
				<div class="notification notification-info">
					No recipes yet. <a href="/import">Import one</a> to get started!
				</div>
			} else {
				<div class="grid">
					for _, r := range recipes {
						@RecipeCard(r)
					}
				</div>
			}
		</div>
	}
}
