package template

templ Login(errMsg string) {
	@Layout("Login", "") {
		<div class="auth-container">
			<h1 class="page-title">Login</h1>
			if errMsg != "" {
				<div class="alert alert-danger">{ errMsg }</div>
			}
			<form method="POST" action="/login">
				<div class="form-group">
					<label class="form-label">Email</label>
					<input class="form-input" type="email" name="email" placeholder="you@example.com" required/>
				</div>
				<div class="form-group">
					<label class="form-label">Password</label>
					<input class="form-input" type="password" name="password" required/>
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block" type="submit">Login</button>
				</div>
			</form>
			<p class="text-center text-secondary mt-3">
				Don't have an account? <a href="/register">Register</a>
			</p>
		</div>
	}
}
