package template

import (
	"github.com/tyler/recipebox/internal/application/dto"
)

templ RecipeList(result dto.RecipeListResult, userEmail string) {
	@Layout("Browse Recipes", userEmail) {
		<h1 class="title">Browse Recipes</h1>
		<div data-signals:search="">
			<div class="field mb-5">
				<div class="control">
					<input
						class="input is-medium"
						type="text"
						placeholder="Search recipes..."
						data-bind:search
						data-on:keyup__debounce.300ms="@get('/recipes/search')"
					/>
				</div>
			</div>
		</div>
		<div id="browse-results">
			@BrowseResults(result)
		</div>
	}
}

templ BrowseResults(result dto.RecipeListResult) {
	<div id="browse-results">
		if len(result.Recipes) == 0 {
			<div class="notification is-info is-light">
				No recipes found. <a href="/import">Import one</a> to get started!
			</div>
		} else {
			<div class="columns is-multiline">
				for _, r := range result.Recipes {
					<div class="column is-4">
						@RecipeCard(r)
					</div>
				}
			</div>
			@Pagination(result.Total, result.Offset, result.Limit)
		}
	</div>
}

templ BrowseSearchResults(recipes []dto.RecipeResult) {
	<div id="browse-results">
		if len(recipes) == 0 {
			<div class="notification is-info is-light">
				No recipes match your search.
			</div>
		} else {
			<div class="columns is-multiline">
				for _, r := range recipes {
					<div class="column is-4">
						@RecipeCard(r)
					</div>
				}
			</div>
		}
	</div>
}
